<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Packtpub.com</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Spring Boot Deeplearning4J integration example</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>
    </div><br/> <br/>

    <div class="container h-100">
        <div class="h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-sm-10">
                    <h3>Upload your input as CSV for customer rentention prediction</h3>
                    <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                        <div class="form-group">
                            <label class="control-label" for="uploadFile"></label>
                            <input type="file" class="form-control" id="uploadFile" placeholder="Upload File"  name="uploadFile"></input>
                        </div>
                        <button type="submit" class="btn btn-default" id="btnSubmit">Upload</button>
                        <!--<a href="/files" class="btn btn-default" role="button">Files</a>-->
                    </form>
                    <br/>
                    <br/>
                    <div th:if="${results}">
                        <h2>Result</h2>
                        <ul>
                            <li th:each="result : ${results}" th:text="${result}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

</body>
</html>